html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}
h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

html,
body,
#app,
.background {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.background {
  position: relative;
}
.background:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  background-image: url("../assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
  padding: 0 1.5rem;
  overflow: auto;
  position: relative;
}

.page__top {
  margin: 8px 0px;
}

.page__content {
  margin: 95px 80px 95px;
  display: flex;
  gap: 50px;
}

.page__content-left,
.page__content-right {
  width: 50%;
}

.page__content-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 800;
}

.page__content-text {
  font-weight: 600;
  margin-top: 24px;
  font-size: 24px;
  max-width: 80%;
  line-height: 29px;
  font-family: "Proxima Nova SemiBold";
}

.text-orange-bold {
  color: #ff8d24;
}

.text-orange-bold,
.text-black-bold {
  font-family: "Proxima Nova ExtraBold";
}

.page__content-button {
  margin-top: 32px;
  cursor: pointer;
  padding: 16px 40px;
  gap: 10px;
  width: 275px;
  height: 55px;
  background: #000000;
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  transition: background 0.3s ease-in-out;
  font-family: "Proxima Nova SemiBold";
}

.page__content-button:hover {
  background: #00ca14;
}

.page__block-wrapper {
  position: relative;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.page__block-asteroid {
  position: absolute;
  right: 0;
  top: -50px;
  z-index: 2;
}

.page__block-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.page__block-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page__block-prices {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.page__block-price {
  font-size: 20px;
  line-height: 24px;
  font-family: "Proxima Nova SemiBold", sans-serif;
}
.price-crossed {
  color: #000000;
  opacity: 0.4;
  font-size: 16px;
  line-height: 22px;
  text-decoration: line-through;
}

.page__block-left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 6px;
}

.page__block-timer {
  width: 35%;
  height: 60px;
  background: #000000;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.timer-ends {
  border: 2px solid #ff0000;
  filter: drop-shadow(0px 0px 6px rgba(255, 0, 0, 0.8));
}
.page__block-timer-time {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-family: "Proxima Nova SemiBold", sans-serif;
}
.page__block-timer-bar {
  width: 100%;
  height: 100%;
  background: #00ca14;
  position: relative;
  animation: timerBar 180s linear;
  animation-fill-mode: forwards;
}

@keyframes timerBar {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

.page__block-benefits {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}

.page__block-benefit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.benefit-orange {
  font-weight: 700;
  color: #ff8d24;
}

.page__block-payment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #ffffff;
  font-family: "Proxima Nova SemiBold", sans-serif;
  color: #01c120;
  margin-top: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 100%;
  height: 55px;
}

.page__block-text {
  margin-top: 24px;
  text-align: center;
  font-family: "Proxima Nova Regular", sans-serif;
  color: #000000;
  opacity: 0.5;
  font-size: 14px;
  line-height: 14px;
}

.text-center {
  text-align: center;
}

@media (max-width: 1040px) {
  .page__content {
    margin: 80px 50px;
    gap: 15px;
  }
}
@media (max-width: 945px) {
  .page__content {
    flex-direction: column;
    gap: 50px;
    margin: 50px 100px;
  }
  .page__content-left,
  .page__content-right {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .page__content {
    gap: 50px;
    margin: 50px;
  }
}
@media (max-width: 600px) {
  .page__content-title {
    font-size: 40px;
  }

  .page__content {
    margin: 25px;
  }

  .page__block-asteroid {
    display: none;
  }
}
@media (max-width: 500px) {
  .page__block-top {
    position: absolute;
    top: 80px;
    width: 95%;
    left: 2.5%;
    padding: 16px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 6%);
    border-radius: 24px;
    height: 120px;
  }

  .page__block-wrapper {
    position: unset;
  }

  .page__content {
    margin: 180px 0 0 0;
    gap: 15px;
  }

  .page__block-timer {
    width: 30%;
    height: 50px;
  }

  .page__block-wrapper {
    background: unset;
    border: unset;
    box-shadow: unset;
    padding: unset;
  }

  .page__content-text,
  .page__content-button {
    width: 100%;
  }

  .timer-hidden {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .timer-hidden > .page__block-left {
    align-items: center;
  }

  .page__block-text {
    margin-bottom: 24px;
  }
}
@media (max-width: 475px) {
  .page__content-title {
    font-size: 36px;
    line-height: 42px;
  }

  .page__block-title {
    font-size: 22px;
    line-height: 22px;
  }
}
@media (max-width: 430px) {
  .page__block-top {
    height: 95px;
    border-radius: 12px;
  }

  .page__content {
    margin: 145px 0 0 0;
  }
  .page__content-title {
    font-size: 32px;
    line-height: 120%;
  }
  .page__block-price,
  .price-crossed {
    font-size: 16px;
    line-height: 120%;
  }

  .page__block-prices {
    margin: 0;
  }

  .page__block-timer {
    width: 30%;
    height: 45px;
  }

  .page__block-title {
    font-size: 18px;
    line-height: 120%;
  }
}
